.block {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: start;
  height: 100%;
}
.container {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: start;
  height: 90%;
}

.ingredientContainer {
  gap: 16px;
  list-style-type: none;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  padding: 16px 0;
  margin: 0;
  max-height: 57%;
  overflow-y: scroll;
  min-height: 170px;
}

.placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.containerOnHover {
  outline: 2px dashed #2f2f3777;
  border-radius: 6px;
}

.ingredientContainer::-webkit-scrollbar {
  width: 8px;
}

.ingredientContainerShowTrack::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px #2f2f37;
}

.ingredientContainer::-webkit-scrollbar-thumb {
  background-color: var(--text-inactive-color);
}

.ingredientRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 8px;
  padding: 0;
  cursor: pointer;
}

.ingredientRow_disabled {
  cursor: default;
  pointer-events: none;
}

.btnContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
}
