.container {
  background-color: var(--background);
  height: auto;
  border-radius: 40px;
  width: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerContainerEnd {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.headerContainerSb {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.closeButton {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

.closeButton:hover {
  opacity: 0.6;
}